
<style type="text/css">
    .modal-dialog {
        margin-top: 10%;
    }

    .modal-backdrop.in {
        opacity: 10;
    }

    label {
        margin-top: 7px;
        margin-bottom: 0;
        padding: 0;
    }

    .requiredspan {
        color: #ff0000;
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="CancelImageUploadModal()">&times;</button>
        <h4 class="modal-title">Link Related Items and Accessories With Selected Item</h4>
    </div>
    <form ng-submit="DownloadDocuments()" name="forms.frmArea" novalidate="" class="supSupplier" enter-tab>
        <div class="modal-body">
            <div style="text-align:right;">
                Fields marked<span style="color:red">*</span>are required <div class="tooltip1"><i class="fa fa-info"></i><span class="tooltiptext">dummy text for priting</span></div>
            </div>

            <div id="dv_TaskForm" class="ctm_Personal">
                <!--ng-hide="false"-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="sec">
                            <p><strong>Selected Item: Title</strong></p>
                            <div class="input-sec">
                                {{Item.Title}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sec">
                            <p><strong>Selected Item: Stock Code</strong></p>
                            <div class="input-sec">
                                {{Item.ItemStockCode}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="sec">
                            <p><strong>Select From list to link with Accessories</strong></p>
                            <div class="input-sec">
                                <select kendo-multi-select="multiselectAccessories" k-options="brandMultiselectOptions" k-rebind="selectedIds" stop-event k-ng-model="Item.selectedAccessories"></select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="sec">
                            <p><strong>Select From list to link with Related Items</strong></p>
                            <div class="input-sec">

                                <select kendo-multi-select="multiselectRelatedItems" k-options="brandMultiselectOptions" stop-event k-ng-model="Item.SelectedRelatedItems"></select>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="modal-footer forforms">
            <button type="button" class="blue-btn" ng-click="Linkaccessories()">Link Accessories </button>
            <button type="button" class="blue-btn" ng-click="LinkRelatedItems()">Link Related Items</button>
            <button type="button" class="red-btn" ng-click="CancelImageUploadModal()">Cancel </button>
        </div>
    </form>
</div>