
<div class="" ng-controller="BlogsController">
    <!-- Breadcrumb End -->
    <!-- Blog Area Start -->
    <div class="blog-page pb-60" style="margin-top:10px;">
        <div class="container">
            <!-- Row End -->
            <div class="row">
                <!-- Single Blog Start -->
                <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="blog in BlogData">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="{{MainUrl}}blogdetail/{{blog.BlogId}}" ng-click="openblog(blog.BlogId)"><img src="{{WebsiteDomain}}images/{{blog.ImageUrl}}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title"><a href="" ng-click="openblog(blog.BlogId)">{{blog.Header}}</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>Written On: </span>{{blog.Date}} </li><!--<a href="#">05 Nov, 2018</a>-->
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="{{MainUrl}}blogdetail/{{blog.BlogId}}" ng-click="openblog(blog.BlogId)">Read More.....</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog End -->
               
             
                <!-- Single Blog End -->
            </div>
            <!-- Row End -->
            <!--<div class="row">
                <div class="col-sm-12">
                    <ul class="blog-pagination pt-20">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>-->
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Blog Area End -->
    <!-- Brand Logo Start -->
 
</div>