
<div class="" ng-controller="CategoryLevel3Controller">

    <div class="middle inner">
        <div class="container">
            <div class="category">
                Browse Items By Category
                <div kendo-tree-view="tree"
                     k-data-source="treeData1"
                     k-on-change="selectedItem = dataItem">
                    <span k-template ng-click="OpenReleventItemByCategory(dataItem)">
                        {{dataItem.text}} 
                    </span>
                </div>
            </div>

            <div class="product-display" ng-show="ShowCategoryLevel1list==true">

                <h3>show category level 1 {{ItemListPageCategoryLevel1.text}}</h3>
                <img style="height: 160px;" class="img-responsive" src="{{WebsiteDomain}}images/{{ItemListPageCategoryLevel1.filename}}" alt="product">
                <div ng-click="ShowCategoryLevel1(dataCatWiseLevel1)" class="product-inner" ng-repeat="dataCatWiseLevel1 in ItemListPageCategoryLevel1.items">
                    <img  style="height: 250px; margin-bottom: 5px;"  class="img-responsive" src="{{WebsiteDomain}}images/{{dataCatWiseLevel1.filename}}" alt="product">
                    <h2>{{dataCatWiseLevel1.text}}</h2>
                    <h4>{{dataCatWiseLevel1.Description}}</h4>

                </div>

            </div>
        </div>




    </div>

</div>



