
<div class="" ng-controller="TermsController">
    <div class="middle inner">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 main-content">
                        <div class="staticcontent">
                            <div class="col-xs-12 col-sm-6">
                                <h2>Contact Us</h2>
                                <h3>Head Office</h3>
                                <p>Unit 9, Holdom Avenue<br>Saxon Park,<br>Milton Keynes,<br>MK1 1QU</p>
                                <p><strong>T </strong>+44 (0)1908 978343, +44 (0)203 3972367<br><strong>E </strong><a href="mailto:sales@ukplanettools.co.uk">sales@ukplanettools.co.uk</a></p>
                                <br>
                                <h3>Store</h3>
                                <p>Unit 1, Holdom Avenue<br>Saxon Park,<br>Milton Keynes,<br>MK1 1QU</p>
                                <p><strong>T </strong>+44 (0)1908 376719 <br><strong>E </strong><a href="mailto:sales@ukplanettools.co.uk">sales@ukplanettools.co.uk</a></p>
                                <div class="google-maps"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19653.745728312108!2d-0.7273605231371487!3d51.993789404540856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48765527506cdd0f%3A0x2222dbb3f37c0428!2sUk+Planet+Tools+Ltd!5e0!3m2!1sen!2suk!4v1486054634149" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div>
                                    <div class="contactform">
                                        <h4>Contact Form</h4>
                                        <form method="post">
                                            <input type="hidden" name="contactform" value="true">
                                            <input type="text" name="hiddenblank" style="display: none">
                                            <div class="form-group">
                                                <label class="control-label" for="contactcompany">Company Name <span class="required-asterix">*</span></label>
                                                <input type="text" class="form-control" name="contactcompany" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactphone">Company Telephone <span class="required-asterix">*</span></label>
                                                <input type="text" class="form-control" name="contactphone" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactfirstname">First Name <span class="required-asterix">*</span></label>
                                                <input type="text" class="form-control" name="contactfirstname" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactlastname">Last Name <span class="required-asterix">*</span></label>
                                                <input type="text" class="form-control" name="contactlastname" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactmobile">Mobile Telephone</label>
                                                <input type="text" class="form-control" name="contactmobile" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactemail">Email <span class="required-asterix">*</span></label>
                                                <input type="text" class="form-control" name="contactemail" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactaddress">Address <span class="required-asterix">*</span></label>
<textarea class="form-control" name="contactaddress"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactpostcode">Postcode <span class="required-asterix">*</span></label>
                                                <input type="text" class="form-control" name="contactpostcode" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="contactmessage">Message <span class="required-asterix">*</span></label>
<textarea class="form-control" rows="5" name="contactmessage"></textarea>
                                            </div>
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


