<div class="" ng-controller="DefaultController">
  
    <div class="middle">
        <div class="container">
            <h1><span>Tools</span> & Equipment </h1>
            <div class="product">
                <ul>
                    <li ng-click="CategoryClick(data11)" ng-repeat="data11 in topProductshowonfront">
                        <div class="tag">{{data11.CategoryName| translate}}</div>
                        <img src="{{WebsiteDomain}}/images/{{data11.filename}}.jpg" alt="img1">
                        <div class="info">Some Text Goes Here</div>
                    </li>


                </ul>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h1><span>Home </span> Supplies </h1>
                <div class="product">
                    <ul>
                        <li ng-click="CategoryClick(data11)" ng-repeat="data11 in topProductshowonfront">
                            <div class="tag">{{data11.CategoryName| translate}}</div>
                            <img src="{{WebsiteDomain}}/images/{{data11.filename}}.jpg" alt="img1">
                            <div class="info">Some Text Goes Here</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h1><span>Fashion</span> & Style </h1>
            <div class="product">
                <ul>
                    <li ng-click="CategoryClick(data11)"  ng-repeat="data11 in topProductshowonfront">
                        <div class="tag">{{data11.CategoryName| translate}}</div>
                        <img src="{{WebsiteDomain}}/images/{{data11.filename}}.jpg" alt="img1">
                        <div class="info">Some Text Goes Here</div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h1><span>Hot Deals</span>  Here </h1>
                <div class="product">
                    <ul>
                        <li>

                            <img src="../../Content/images/v2-home-page_35.jpg" alt="img1">
                            <div class="etc">DESIGN & DECORATING IDEAS</div>
                        </li>
                        <li>

                            <img src="../../Content/images/v2-home-page_37.jpg" alt="img1">
                            <div class="etc">Bosch power tool range</div>
                        </li>
                        <li>

                            <img src="../../Content/images/v2-home-page_39.jpg" alt="img1">
                            <div class="etc">Work Wear Essintial</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h1><span>What Client</span> Says </h1>
            <div class="testi">
                <ul>
                    <li>
                        <div class="quote"><img src="../../Content/images/v2-home-page_45.jpg"></div><p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printttting and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <div class="client-img"><img src="../../Content/images/v2-home-page_49.jpg"></div>  <div class="red">
                            <div class="star"><img src="../../Content/images/star.jpg"></div><div class="client">Vikas Kumar</div>
                        </div>
                    </li>
                    <li>
                        <div class="quote"><img src="../../Content/images/v2-home-page_45.jpg"></div><p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printttting and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <div class="client-img"><img src="../../Content/images/v2-home-page_49.jpg"></div>  <div class="red">
                            <div class="star"><img src="../../Content/images/star.jpg"></div><div class="client">Vikas Kumar</div>
                        </div>
                    </li>
                    <li>
                        <div class="quote"><img src="../../Content/images/v2-home-page_45.jpg"></div><p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printttting and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <div class="client-img"><img src="../../Content/images/v2-home-page_49.jpg"></div>  <div class="red">
                            <div class="star"><img src="../../Content/images/star.jpg"></div><div class="client">Vikas Kumar</div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>