
<div class="" ng-controller="TermsController">
    <div class="middle inner">
        <div class="container">
            <div class="faq-page-custom">
                <div class="staticcontent-panel">
                    <div class="panel-p mb0 "><h1 class="page-heading mt0"><span style="font-size: x-large;">FAQ</span></h1></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Delivery</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p><span class="gray">1.</span> <strong>How much does delivery cost?</strong></p>
                                <ul>
                                    <li>We offer free delivery on order over £50.00 including VAT.</li>
                                    <li>A delivery charge of £3.50 + VAT applies for order under £50.00.</li>
                                    <li>There are upgrade options also available for Saturday and Sunday deliveries.</li>
                                    <li>Additional surcharges may apply to some areas (Northern Ireland, Scottish Islands, Isle of Man, Scilly Isles, Channel Islands, &amp; Scottish Highlands).</li>
                                    <li>For any further details, please see our delivery info page.</li>
                                </ul>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">2.</span> <strong>Can I have my order sent to a different address?</strong></p>
                                <p class="answer">
                                    Yes, there is an option available to alter your delivery address during check out.
                                </p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">3.</span> <strong>What happens if I am not home when the delivery is being made?</strong></p>
                                <p class="answer">
                                    We require all parcels to be signed for. If you are not home, you will be left a card by the carrier which will have instructions on how to receive the parcel.
                                </p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">4.</span> <strong>When will I receive my goods?</strong></p>
                                <p class="answer">
                                    We despatch all goods within 24 hours (UK only) via our delivery partners. These services normally deliver on the next working day although occasionally they can take longer, depend which delivery service will be selected. Orders must be placed by 4:00 pm to guarantee despatch on that day.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Ordering</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p><span class="gray">1.</span> <strong>Will I get a VAT invoice?</strong></p>
                                <p class="answer">
                                    Yes, we send a full VAT invoice with every order. This will either be inside the box or beneath the carrier's label in a plastic envelope. If your goods are sent direct from a supplier we will e-mail a PDF copy of your invoice.
                                </p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">2.</span> <strong>Can I order by phone?</strong></p>
                                <p class="answer">Yes, providing you have placed an order with us before. To place an order over the phone you can call our Sales Team on 01908 978343 between 9am - 4pm Monday to Friday and 9am - 1pm Saturday. Please note, we only deliver to your billing address if you place your order by phone.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">3.</span> <strong>Am I able to amend my order once it's submitted?</strong></p>
                                <p class="answer">Unfortunately, once you have clicked "Submit Order" your order is sent immediately to our warehouse to be processed for delivery. It is therefore unlikely that we can amend your order after this stage, but you are welcome to call us on 01908 978343 and if it is possible we will do our best to try.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Stock</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p><span class="gray">1.</span> <strong>Are all of your items in stock?</strong></p>
                                <p class="answer">Our stock levels and availabilities are linked to our computerised stock control system so updates are made live so you can be confident that if we say it's in stock it is in stock. There are, however, occasional times when there is a larger than normal demand on certain items and something is therefore out of stock. We will call you back in this type of situation and give you options of waiting for stock replenishment (additional cost may apply due to fluctuations in buying price), cancelling the order or accepting an appropriate alternative product.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">2.</span> <strong>If some of my items are out of stock and some are in stock, what happens?</strong></p>
                                <p class="answer">We will contact you to give you the choice of having one delivery when your order is complete or we can send the items that we have first whilst we wait for the back ordered lines to arrive (there will be no additional delivery charge for this).</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Customer Service</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p><span class="gray">1.</span> <strong>Can I return unwanted items?</strong></p>
                                <p class="answer">Yes, if for any reason, you no longer require your goods, or you have ordered an incorrect item by mistake we will offer a full refund or exchange within 30 days of purchase if the item is returned to us in its original condition and packaging. Alternatively, we can arrange for our couriers to collect from you, however a charge of £9.99 may be applied for this service.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">2.</span> <strong>I have been delivered an incorrect item, what do I do?</strong></p>
                                <p class="answer">We have strict control and checking procedures operating in our warehouse so it is extremely unlikely that an error will occur, however unfortunately sometimes mistakes can still be made. If this happens, please inform us within 14 days, we will collect and redeliver a replacement item as soon as possible and this will obviously be at no further cost to you.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">3.</span> <strong>My goods have been delivered and are damaged, what do I do?</strong></p>
                                <p class="answer">You must sign for, date and time every package we send to you. If the package looks damaged in any way you can refuse the delivery or sign for it unexamined. If it has been damaged by the carrier and you have not signed unexamined we cannot be held liable or make a claim with the carrier which may result in a delay in dealing with the matter. You must inform us immediately by e-mail or phone of any damaged goods.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">4.</span> <strong>I need to arrange a power tool repair that is within its warranty period, what do I do?</strong></p>
                                <p class="answer">You can call or contact us directly and we can explain the procedure dependant on which brand of tool you have.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">General</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p><span class="gray">1.</span> <strong>I have a complaint, what do I do?</strong></p>
                                <p class="answer">Whilst we make every effort to offer an efficient service occasionally mistakes are made, we will endeavour to resolve the complaint within five working days. Your complaint will be treated fairly, confidentially and with respect. If you have any complaints, comments or suggestions as to how we can improve our service then please contact us by phone 01908 376719 or email us at <a href="mailto:info@ukplanettools.co.uk" target="_blank">info@ukplanettools.co.uk</a>.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">2.</span> <strong>When are you open?</strong></p>
                                <p class="answer">Our showroom is open 7:30am to 6pm Monday to Friday and 8am to 1pm Saturday. The showroom is closed on Sunday and Bank Holidays. Our website is open for orders 24 hours a day, 365 days a year.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">3.</span> <strong>Why should I subscribe with UK Planet Tools?</strong></p>
                                <p class="answer">Registered users will receive occasional e-mail newsletters giving a heads up on the latest products and any promotions we are running. Registered users will also occasionally have access to very special offers. Please subscribe at the bottom of any web page to receive our special catalogues and newsletters.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">4.</span> <strong>Are your products brand new and in original packaging?</strong></p>
                                <p class="answer">All our products are brand new, original products in their original packaging - unless otherwise stated. All our power tools are UK spec, CE marked.</p>
                                <p class="spacer">&nbsp;</p>
                                <p><span class="gray">5.</span> <strong>I am having problems on your website, what do I do?</strong></p>
                                <p class="answer">If you are experiencing problems or have seen an error, please could you let us know by phone 01908 376719 or email <a href="mailto:info@ukplanettools.co.uk" target="_blank">info@ukplanettools.co.uk</a>.</p>
                            </div>
                        </div>
                    </div>
                    <p class="spacer" style="height:160px;">&nbsp;</p>
                </div>
            </div>

        </div>

    </div>

</div>


