<div class="" ng-controller="ItemListBySerachText">
    <!--<div class="middle inner">
        <div class="container">
            <div class="category">
                <h3>Browse By category</h3>
                <div kendo-tree-view="tree"
                     k-data-source="treeData1"
                     k-on-change="selectedItem = dataItem">
                    <span k-template ng-click="OpenReleventItemByCategory(dataItem)">
                       </span>
                </div>
            </div>
            <div class="product-display" ng-show="ShowITEMlist==true">
                <h3 style="font-size:18px;">PRODUCTS</h3>
                <div class="product-inner product-innerproduct" ng-repeat="ItemdataCatWise in ItemListDetails">
                    <div ng-click="ShowItemDetail(ItemdataCatWise)">
                        <img class="img-responsive showitem" src="{{WebsiteDomain}}images/{{ItemdataCatWise.ItemMainImage}}" alt="product">
                        <h2 style="    font-weight: bold;    font-size: 15px;    margin: 0 0 10px 0;">
                            {{ItemdataCatWise.Title}}
                        </h2>
                        <h4 style="background: #ccc;    padding: 5px; border-radius: 5px;    float: left; clear: both;">
                            {{ItemdataCatWise.Name}}
                        </h4>
                        <h5 style="float: right;    font-weight: bold;">
                            {{ItemdataCatWise.Price * currentRate| number:2|currency:"&#163;"}}
                        </h5>
                    </div>
                    <a style="float:left; clear:both;" ng-click="addItemToCart(ItemdataCatWise.ItemStockCode,ItemdataCatWise.Title,ItemdataCatWise.ItemMainImage,ItemdataCatWise.Price,1,null,ItemdataCatWise.CategoryName,ItemdataCatWise.ItemId)">Add to cart</a>
                </div>

            </div>

        </div>




    </div>-->
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <!--<ul>
                    <li><a href="">Home</a></li>
                    <li class="active"><a href="shop.html">Shop</a></li>
                </ul>-->
            </div>
        </div>
       
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Page Start -->
    <div class="main-shop-page pb-60">
        <div class="container">
            <!-- Row End -->
            <div class="row">
                <!-- Sidebar Shopping Option Start -->
                <div class="col-lg-3  order-2">
                    <div class="sidebar white-bg">
                        <div class="single-sidebar">
                            <div class="group-title">
                                <h2>Browse By Categories</h2>
                            </div>
                            <div kendo-tree-view="tree"
                                 k-data-source="treeData1"
                                 k-on-change="selectedItem = dataItem">
                                <span k-template ng-click="OpenReleventItemByCategory(dataItem)">
                                    {{dataItem.text}}
                                </span>
                            </div>
                        </div>
                        <!--<div class="single-sidebar">
                            <div class="group-title">
                                <h2>color</h2>
                            </div>
                            <ul class="color-option">
                                <li>
                                    <a class="blue" href="#"></a>
                                </li>
                                <li>
                                    <a class="green" href="#"></a>
                                </li>
                                <li>
                                    <a class="black" href="#"></a>
                                </li>
                                <li>
                                    <a class="rose" href="#"></a>
                                </li>
                                <li>
                                    <a class="red" href="#"></a>
                                </li>
                                <li>
                                    <a class="purple" href="#"></a>
                                </li>
                                <li>
                                    <a class="rose" href="#"></a>
                                </li>
                                <li>
                                    <a class="yellow" href="#"></a>
                                </li>
                                <li>
                                    <a class="orange" href="#"></a>
                                </li>
                            </ul>
                        </div>-->
                        <!--<div class="single-sidebar">
                            <div class="group-title">
                                <h2>price</h2>
                            </div>
                            <form action="#">
                                <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                </div>
                                <input id="amount" class="amount" readonly="" type="text">
                            </form>
                        </div>-->
                        <div class="single-sidebar">
                            <div class="group-title">
                                <h2>Browse By Brand</h2>
                            </div>
                            <ul class="manufactures-list">
                                <li  ng-repeat="brand in BrandList">
                                    <a href="" ng-click="BrandClick(brand)">{{brand.BrandName}}</a>
                                </li>
                             
                            </ul>
                        </div>


                        <!-- Single Banner Start -->
                        <div class="single-sidebar single-banner zoom pt-20">
                            <a href="" class="hidden-sm" ng-click="category270428Click()"><img src="../../banner/270428.jpg" alt="slider-banner"></a>
                            <a href="" class="visible-sm" ng-click="category370205Click()"><img src="../../banner/BANNER-WORK/370by205-3.png" alt="slider-banner"></a>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
                <!-- Sidebar Shopping Option End -->
                <!-- Product Categorie List Start -->
                <div class="col-lg-9 order-lg-2">
                    <!-- Grid & List View Start -->
                    <div class="grid-list-top border-default universal-padding fix mb-30">
                        <div class="grid-list-view f-left">
                            <ul class="list-inline nav">
                                <li><a data-toggle="tab" href="" ng-click="showgridview()"><i class="fa fa-th"></i></a></li>
                                <li><a class="active" data-toggle="tab" href="" ng-click="showListview()"><i class="fa fa-list-ul"></i></a></li>
                                <!--<li><span class="grid-item-list"> Items 1-12 of 13</span></li>-->
                            </ul>
                        </div>
                        <!-- Toolbar Short Area Start -->
                        <div class="main-toolbar-sorter f-right">
                            <!--<div class="toolbar-sorter">
                                <label>sort by</label>
                                <select class="sorter" name="sorter">
                                    <option value="Position" selected="selected">position</option>
                                    <option value="Product Name">Product Name</option>
                                    <option value="Price">Price</option>
                                </select>
                                <span><a href="#"><i class="fa fa-arrow-up"></i></a></span>
                            </div>-->
                        </div>
                        <!-- Toolbar Short Area End -->
                    </div>
                    <!-- Grid & List View End -->
                    <div class="main-categorie">
                        <!-- Grid & List Main Area End -->
                        <div class="tab-content fix">
                            <div id="grid-view" class="" ng-show="showgridviewdata == true">
                                <div class="row">
                                    <!-- Single Product Start -->
                                

                                    <div class="col-lg-4 col-sm-6" ng-repeat="ItemdataCatWise in ItemListDetails">
                                        <div class="single-product" ng-click="ShowItemDetail(ItemdataCatWise)">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a>
                                                    <img class="primary-img" src="{{WebsiteDomain}}images/{{ItemdataCatWise.ItemMainImage}}" alt="single-product">
                                                    <img class="secondary-img" src="{{WebsiteDomain}}images/{{ItemdataCatWise.ItemMainImage}}" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <!--<div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div>-->
                                                <!--  <h4><a>{{ItemdataCatWise.Title}}</a></h4>-->
                                                <!--  <h4><a href="http://localhost:51077/index.html#/ItemList" target="_blank" ng-click="ShowItemDetail(ItemdataCatWise,$event)">{{ItemdataCatWise.Title}}</a></h4>-->
                                                <h4><a href="{{MainUrl}}ItemDetail/{{ItemdataCatWise.ItemStockCode}}" target="_blank" ng-click="ShowItemDetail(ItemdataCatWise,$event)">{{ItemdataCatWise.Title}}</a></h4>
                                                <p><span class="">Stock Code: {{ItemdataCatWise.ItemStockCode}}</span></p>
                                                <p><span class="price pricedetail"><span ng-bind-html="symbolz| unsafee"></span> {{ItemdataCatWise.Price * currentRate| number:2}}</span></p>

                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <!--                                              <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>-->
                                                        <a class="add-cart" href="" ng-click="addItemToCart(ItemdataCatWise.ItemStockCode,ItemdataCatWise.Title,ItemdataCatWise.ItemMainImage,ItemdataCatWise.Price,1,null,ItemdataCatWise.CategoryName,ItemdataCatWise.ItemId)" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                        <!--<a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>
                                    </div>
                                    <!-- Single Product End -->

                                </div>
                            </div>
                            <!-- #grid view End -->
                            <div id="list-view" class="" ng-show="showlistviewdata == true">
                                <!-- Single Product Start -->
                                <!--<h3>{{ItemListPageCategoryLevel1.text}}</h3>-->


                                <div  class="single-product"  ng-repeat="ItemdataCatWise in ItemListDetails">
                                    <!-- Product Image Start -->
                                    <div class="pro-img" ng-click="ShowItemDetail(ItemdataCatWise)">
                                        <a>
                                            <img class="primary-img" src="{{WebsiteDomain}}images/{{ItemdataCatWise.ItemMainImage}}" alt="single-product">
                                            <img class="secondary-img" src="{{WebsiteDomain}}images/{{ItemdataCatWise.ItemMainImage}}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <!--<div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div>-->
                                        <!--<h4><a>{{ItemdataCatWise.Title}}</a></h4>-->
                                        <h4><a href="{{MainUrl}}ItemDetail/{{ItemdataCatWise.ItemStockCode}}" target="_blank" ng-click="ShowItemDetail(ItemdataCatWise,$event)">{{ItemdataCatWise.Title}}</a></h4>
                                        <!--                                        <h4><a href="http://localhost:51077/index.html#/ItemList/{{ItemdataCatWise.ItemStockCode}}" target="_blank" ng-click="ShowItemDetail(ItemdataCatWise,$event)">{{ItemdataCatWise.Title}}</a></h4>-->

                                        <p><span class="price pricedetail"><span ng-bind-html="symbolz| unsafee"></span> {{ItemdataCatWise.Price * currentRate| number:2}}</span></p>
                                        <p><span class="">Stock Code: {{ItemdataCatWise.ItemStockCode}}</span></p>
                                        <p>{{ItemdataCatWise.Name}}</p>

                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                <!--   <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>-->
                                                <a class="add-cart" href="" ng-click="addItemToCart(ItemdataCatWise.ItemStockCode,ItemdataCatWise.Title,ItemdataCatWise.ItemMainImage,ItemdataCatWise.Price,1,null,ItemdataCatWise.CategoryName,ItemdataCatWise.ItemId)" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                <!--<a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product Start -->

                            </div>
                            <!-- #list view End -->
                        </div>
                        <!-- Grid & List Main Area End -->
                    </div>
                    <!--Breadcrumb and Page Show Start -->
                    <!--<div class="pagination-box fix">
                        <ul class="blog-pagination ">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        <div class="toolbar-sorter-footer">
                            <label>show</label>
                            <select class="sorter" name="sorter">
                                <option value="Position" selected="selected">12</option>
                                <option value="Product Name">15</option>
                                <option value="Price">30</option>
                            </select>
                            <span>per page</span>
                        </div>
                    </div>-->
                    <!--Breadcrumb and Page Show End -->
                </div>
                <!-- product Categorie List End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Shop Page End -->
    <!-- Brand Logo Start -->
    <div class="brand-area pb-60">
        <div class="container">
            <!-- Brand Banner Start -->
            <div class="brand-banner owl-carousel">
               
                <div class="single-brand"  ng-repeat="brand in BrandList">
                    <a href="" ng-click="BrandClick(brand)"><img class="img" src="{{WebsiteDomain}}images/{{brand.filename}}" alt="{{brand.BrandName}}"></a>
                </div>

            </div>
            <!-- Brand Banner End -->
        </div>
    </div>
    <!-- Brand Logo End -->
    <!-- Footer End -->
    <!-- Wrapper End -->

</div>



