
    <div class="" ng-controller="ItemListController">
    
        <div class="middle inner">
            <div class="container">
                <div class="category">
                    Browse Items By Category
                    <div kendo-tree-view="tree"
                         k-data-source="treeData1"
                         k-on-change="selectedItem = dataItem">
                        <span k-template ng-click="OpenReleventItemByCategory(dataItem)">
                            <!--<a  ng-click="OpenReleventItemByCategory(dataItem)">-->  {{dataItem.text}} <!--</a>-->   <!--<button class='k-button' ng-click='click(dataItem)'>Add Category/Subcategory</button>-->
                        </span>
                    </div>
                </div>
                <div class="product-display" ng-show="ShowITEMlist==true">
                    <h3>show item</h3><!--"-->
                    <div class="product-inner product-innerproduct" ng-repeat="ItemdataCatWise in ItemListDetails">
                        <div ng-click="ShowItemDetail(ItemdataCatWise)">
                            <img class="img-responsive" src="{{WebsiteDomain}}images/{{ItemdataCatWise.ItemMainImage}}" alt="product">
                            <h2>{{ItemdataCatWise.Title}}  </h2>
                            <h4>{{ItemdataCatWise.Name}} </h4>
                            <h5>{{ItemdataCatWise.Price}} </h5>
                        </div><!--<a href="">Add to Basket</a>-->
                        <a ng-click="addItemToCart(ItemdataCatWise.ItemStockCode,ItemdataCatWise.Title,ItemdataCatWise.ItemMainImage,ItemdataCatWise.Price,1,null,ItemdataCatWise.CategoryName,ItemdataCatWise.ItemId)">Add to cart</a>
                    </div>

                </div>

            </div>




        </div>

    </div>



