
    <div class="" ng-controller="ItemListController">
    
        <div class="middle inner">
            <div class="container">
                <div class="category">
                    <h3>Browse By category</h3>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                    <a href="#">Angle Drills Cordless</a>
                    <a href="#">Angle Grinders Cordless</a>
                    <a href="#">Circular Saws Cordless</a>
                </div>
                <div class="product-display">
                    <h3>show item category </h3>
                    <div ng-click="ShowItemDetail(ItemdataCatWise)" class="product-inner" ng-repeat="ItemdataCatWise in ItemListDetails">
                        <img src="images/product-inner.jpg" alt="product" >
                        <h2>{{ItemdataCatWise.Title}}  </h2>
                        <h4>Our postal rates are reasonable and honest which take into consideration the weight, size and location of delivery</h4>
                        <h5>{{ItemdataCatWise.Price}} </h5>
                        <a href="#">Add to Basket</a>
                    </div>

                </div>
            </div>




        </div>

    </div>



