<style>
    ul {
        padding: 1px 10px 1px 20px;
        list-style-type: square;
    }
</style>

<div class="" ng-controller="ItemDetailController">
    <div class="middle inner">
        <div class="container">
            <div class="category">
                <h3>Browse By category</h3>
                <div kendo-tree-view="tree"
                     k-data-source="treeData1"
                     k-on-change="selectedItem = dataItem">
                    <span k-template ng-click="OpenReleventItemByCategory(dataItem)">
                        <!--<a  ng-click="OpenReleventItemByCategory(dataItem)">-->  {{dataItem.text}} <!--</a>-->   <!--<button class='k-button' ng-click='click(dataItem)'>Add Category/Subcategory</button>-->
                    </span>
                </div>
            </div>
            <div class="product-display">
                <h3>{{SingleItemDataInDetail.Title}}  </h3>
                <div class="product-single">
                    <img class="img-responsive" src="{{WebsiteDomain}}images/{{SingleItemDataInDetail.ItemMainImage}}" alt="single img">
                    <h2>
                        {{SingleItemDataInDetail.Title}}

                    </h2>
                    <h4>Our postal rates are reasonable and honest which take into consideration the weight, size and location of delivery</h4>
                    <!--<h6>Available in Stock</h6>-->
                    Select Quantity <br>
                    <input type="number" ng-value="1" class="quantity" ng-model="quantity">
                    <h5>{{SingleItemDataInDetail.Price}}</h5>
                    <a href="" ng-click="addtobasket(SingleItemDataInDetail)">Add to Basket</a>

                </div>
                <div class="discription">
                    <div class="clear"></div>
                    <h2>Product Discription</h2>

                    <div ng-bind-html="Description"></div>

                    <div class="clear"></div>
                </div>
                <div class="similar">
                    <h2>Simiar Product</h2>
                    <div class="product-inner">
                        <img src="images/product-inner.jpg" alt="product">
                        <h2>Makita 3 Piece 10.8V Li </h2>

                        <h5>£199.00</h5>
                        <a href="#">Add to Basket</a>
                    </div>
                    <div class="product-inner">
                        <img src="images/product-inner.jpg" alt="product">
                        <h2>Makita 3 Piece 10.8V Li </h2>

                        <h5>£199.00</h5>
                        <a href="#">Add to Basket</a>
                    </div>
                    <div class="product-inner">
                        <img src="images/product-inner.jpg" alt="product">
                        <h2>Makita 3 Piece 10.8V Li </h2>

                        <h5>£199.00</h5>
                        <a href="#">Add to Basket</a>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>