<div class="" ng-controller="ItemDetailController">
    <div class="middle inner">
        <div class="container">
            <div class="category">
                <h3>Browse By category</h3>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
                <a href="#">Angle Drills Cordless</a>
                <a href="#">Angle Grinders Cordless</a>
                <a href="#">Circular Saws Cordless</a>
            </div>
            <div class="product-display">
                <h3>Makita 3 Piece 10.8V Li-ion  </h3>
                <div class="product-single">
                    <img src="images/product-single.jpg" alt="single img">
                    <h2>
                        {{SingleItemDataInDetail.Title}}
                        <!--Makita 3 Piece 10.8V Li-ion Kit 2 x 2Ah Batteries
                        &amp; Charger T4TKIT-30-->
                    </h2>
                    <h4>Our postal rates are reasonable and honest which take into consideration the weight, size and location of delivery</h4>
                    <h6>Available in Stock</h6>
                    Select Quantity <br><input type="number" value="1" class="quantity">
                                        <h5> {{SingleItemDataInDetail.Price}}</h5>
                    <a href="#">Add to Basket</a>

                </div>
                <div class="discription">
                    <div class="clear"></div>
                    <h2>Product Discription</h2>
                    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br></p>-->
                    <!--<div text-angular="text-angular" name="htmlcontent" ng-model="Description" ta-disabled='disabled'></div>-->

                    <p ng-bind-html="Description"></p>
                        
                   
                    <div class="clear"></div>
                </div>
                <div class="similar">
                    <h2>Simiar Product</h2>
                    <div class="product-inner">
                        <img src="images/product-inner.jpg" alt="product">
                        <h2>Makita 3 Piece 10.8V Li </h2>

                        <h5>£199.00</h5>
                        <a href="#">Add to Basket</a>
                    </div>
                    <div class="product-inner">
                        <img src="images/product-inner.jpg" alt="product">
                        <h2>Makita 3 Piece 10.8V Li </h2>

                        <h5>£199.00</h5>
                        <a href="#">Add to Basket</a>
                    </div>
                    <div class="product-inner">
                        <img src="images/product-inner.jpg" alt="product">
                        <h2>Makita 3 Piece 10.8V Li </h2>

                        <h5>£199.00</h5>
                        <a href="#">Add to Basket</a>
                    </div>
                </div>
            </div>
        </div>




    </div>
    </div>