
    <div class="" ng-controller="ShopLoginController">
        <div class="middle inner">
            <div class="container">
                <div class="login white-bg">
                    <h2>LOGIN OR CREATE AN ACCOUNT</h2>
                    <div class="login-user">
                        <h3>ALREADY REGISTERED?</h3>
                        <p>If you have an account with us, please log in.</p>
                        <label>Email Address *</label>
                        <input type="text" value="">
                        <label>Password *</label>
                        <input type="text" value=""><br>
                        <input type="submit" value="Login"> <a href="#">Forget Password?</a>
                    </div>
                    <div class="register-user">
                        <h3>New Visitor?</h3>
                        <p>
                            You can register a new account at checkout on your first order.

                        </p>
                        <label>First Name *</label>
                        <input type="text" value="">

                        <label>Phone Number  *</label>
                        <input type="text" value="">
                        <label>Email Address *</label>
                        <input type="text" value="">
                        <label>Create Password * (minimum 6 characters)</label>
                        <input type="password" value="">
                        <label>Confirm Password</label>
                        <input type="password" value="">
                        <input type="submit" value="Register">
                    </div>
                </div>

            </div>




        </div> 
    
    </div>


