
<div class="" ng-controller="MyCartController">


    <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><h2>My Cart</h2></li>
                    <!--<li><a href="index.html">Home</a></li>
                    <li class="active"><a href="cart.html">Cart</a></li>-->
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <div class="cart-main-area pb-80 pb-sm-50">
        <div class="container">
            <!--<h2 class="text-capitalize sub-heading">Cart</h2>-->
            
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Start -->
                    <form action="#">
                        <!-- Table Content Start -->
                        <div class="table-content table-responsive mb-50">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items | orderBy:'name'">
                                        <td class="product-thumbnail">
                                            <a href="{{MainUrl}}ItemDetail/{{item.sku}}"><img src="{{WebsiteDomain}}images/{{item.image}}" alt="cart-image" /></a>
                                        </td>
                                        <td class="product-name"><a href="{{MainUrl}}ItemDetail/{{item.sku}}">{{item.name}}</a></td>
                                        <td class="product-price"><span class="amount">{{item.price * currentRate| number:2|currency:"&#163;"}}</span></td>
                                        <td class="product-quantity"><input type="number" min="1" ng-model="item.quantity" style="width:66px" /></td>
                                        <td class="product-subtotal">{{getLinePrice(item.price,item.quantity)| number:2|currency:"&#163;"}}</td>
                                        <td class="product-remove"><button class="" ng-click="deleteRowFromBasket(item)"><i class="fa fa-trash-o"></i></button></td>
                                    </tr>
                                    <!--<tr>
                                <td class="product-thumbnail">
                                    <a href="#"><img src="img/products/2.jpg" alt="cart-image" /></a>
                                </td>
                                <td class="product-name"><a href="#">Products Name Here</a></td>
                                <td class="product-price"><span class="amount">£50.00</span></td>
                                <td class="product-quantity"><input type="number" value="1" /></td>
                                <td class="product-subtotal">£50.00</td>
                                <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            </tr>-->
                                </tbody>
                            </table>
                        </div>
                        <!-- Table Content Start -->
                        <div class="row">
                            <!-- Cart Button Start -->
                            <div class="col-lg-8 col-md-7">
                                <div class="buttons-cart">
                                    <!--<input type="submit" value="Update Cart" />-->
                                    <a href="" ng-click="ContinueToBasket()">Continue Shopping</a>
                                </div>
                            </div>
                            <!-- Cart Button Start -->
                            <!-- Cart Totals Start -->
                            <div class="col-lg-4 col-md-12">
                                <div class="cart_totals">
                                    <h2>Cart Totals</h2>
                                    <br />
                                    <table>
                                        <tbody>
                                            <!--<tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td><span class="amount">$215.00</span></td>
                                    </tr>-->
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td>
                                                    <strong><span class="amount">{{getTotalPrice()| number:2|currency:"&#163;"}}</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="" id="submit-button" ng-click="PlaceOrder()">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Cart Totals End -->
                        </div>
                        <!-- Row End -->
                    </form>
                    <!-- Form End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>




</div>