
<div class="" ng-controller="RegistermeController">
    <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li> <h2>Please Complete Your Registration Process</h2></li>
                    <!--<li><a href="index.html">Home</a></li>
                    <li class="active"><a href="cart.html">Cart</a></li>-->
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <div class="log-in pb-60">
        <div class="container">
           
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-6">
                    <div class="well">
                        <div class="return-customer">

                            <h3 class="mb-10">Courier Service</h3>
                            <p class="mb-10"><strong>Delivery Address</strong></p>
                            <form action="#">
                                <div class="form-group">
                                    <label class="control-label">Enter Full Name...</label>
                                    <input type="text" ng-model="loginDetail.FirstName" class="form-control">
                                    <span ng-show="shownamemandatory==true" style="color:red">Please Insert Name</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Enter House Name / No*...</label>
                                    <input type="text" ng-model="loginDetail.House" class="form-control">
                                    <span ng-show="showHousemandatory==true" style="color:red">Please Insert House no.</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Line 2...</label>
                                    <input type="text" ng-model="loginDetail.AddressLine2" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Line 3*...</label>
                                    <input type="text" ng-model="loginDetail.AddressLine3" class="form-control">
                                    <span ng-show="showAddressLine3mandatory==true" style="color:red">Please Insert Address Line </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Line 4...</label>
                                    <input type="text" ng-model="loginDetail.AddressLine4" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Post Code*...</label>
                                    <input type="text" ng-model="loginDetail.PostCode" class="form-control">
                                    <span ng-show="showPostCodemandatory==true" style="color:red">Please Insert Post Code</span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- New Customer Start -->
                <div class="col-sm-6">
                    <div class="well">

                        <div class="new-customer">
                            <h3>Invoice Address</h3>
                            <p class="mtb-10">
                                <strong>
                                    <span>
                                        <label>
                                            Same as billing address
                                            <input type="checkbox" ng-click="samebillingaddresscheck(checksamebillingaddress)" ng-model="checksamebillingaddress">
                                        </label>
                                        <!--<input type="checkbox" ng-click="samebillingaddresscheck(checksamebillingaddress)" ng-modal="checksamebillingaddress" value="" />-->
                                    </span>
                                </strong>
                            </p>

                            <form action="#">
                                <div class="form-group">
                                    <label class="control-label">Enter Full Name*</label>
                                    <input type="text" ng-model="loginDetail.InvoiceFirstName" class="form-control">
                                    <span ng-show="showInvoicenamemandatory==true" style="color:red">Please Insert Name</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Company</label>
                                    <input type="text" ng-model="loginDetail.InvoiceCompany" class="form-control">
                                    <span ng-show="showPhoneNumbermandatory==true" style="color:red">Please Insert Phone Number</span>

                                </div>
                                <div class="form-group">
                                    <label class="control-label">House Name/No*</label>
                                    <input type="text" ng-model="loginDetail.InvoiceHouse" class="form-control">
                                    <span ng-show="showInvoiceHousemandatory==true" style="color:red">Please Insert House no.</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Line 2</label>
                                    <input type="text" ng-model="loginDetail.InvoiceAddressLine2" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Line 3*</label>
                                    <input type="text" ng-model="loginDetail.InvoiceAddressLine3" class="form-control">
                                    <span ng-show="showInvoiceAddressLine3mandatory==true" style="color:red">Please Insert Address</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Line 4</label>
                                    <input type="text" ng-model="loginDetail.InvoiceAddressLine4" class="form-control">

                                </div>
                                <div class="form-group">
                                    <label class="control-label">Post Code*</label>
                                    <input type="text" ng-model="loginDetail.InvoicePostCode" class="form-control">
                                    <span ng-show="showInvoicePostCodemandatory==true" style="color:red">Please Insert Post Code</span>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <!-- New Customer End -->
                <!-- Returning Customer Start -->
                <!-- Returning Customer End -->

                <div class="col-sm-12">
                    <div class="login-user">
                        <h3>Communication</h3>
                        <p>DM WholeSales and its agents would occasionally like to contact you with their latest promotions, services and news that we feel may be of interest to you. Please tick the acceptance box to confirm that by providing your email address to us, you expressly consent to receive emails from DM Wholesales. We may use your email to communicate with you, to send information that you have requested or to send information about our latest news, promotions and special offers.</p>

                        <label>
                            If you wish to receive DM WholeSales’ latest promotions, special offers and news please tick this box.
                            <input type="checkbox" ng-model="loginDetail.wantnews">
                        </label>
                    </div>

                    <div class="login-user">
                        <h3>Terms & Conditions</h3>

                        <label>
                            I confirm that I have read and understand the<span>
                                <a href="{{MainUrl}}TermsandCondition" ng-click="showtermscond()">Terms & Conditions</a>
                            </span>.
                            <input type="checkbox" ng-model="AcceptTerm">
                            <span ng-show="showwantnewsmandatory==true" style="color:red">Please Accept Terms & Conditions</span>

                        </label>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="buttons-cart">
                        <!--<input type="submit" value="Update Cart" />-->
                        <a href="" ng-click="register()">Register Me</a>
                    </div>
                </div>
                
            </div>

            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>

</div>




