
<div class="" ng-controller="ShopLoginController">
    <div class="middle inner">
        <div class="container">
            <div class="faq-page-custom">
                <div class="staticcontent-panel">
                    <div class="panel-p mb0 "><h1 class="page-heading mt0"><span style="font-size: x-large;">Returns</span></h1></div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="gray">1.</span> Can I return unwanted items?</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p class="answer">
                                    Yes, if for any reason, you no longer require your goods, or you have ordered an incorrect item by mistake we will offer a full refund or exchange within 30 days of purchase if the item is returned to us in its original condition and packaging. Alternatively, we can arrange for our couriers to collect from you, however a charge of £9.99 may be applied for this service.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="gray">2.</span> I have been delivered an incorrect item, what do I do?</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p class="answer">
                                    We have strict control and checking procedures operating in our warehouse so it is extremely unlikely that an error will occur, however unfortunately sometime mistakes can still be made. If this happens, please inform us within 14 days, we will collect and redeliver a replacement item as soon as possible and this will obviously be at no cost to you.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="gray">3.</span> My goods have been delivered and are damaged, what do I do?</h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <p class="answer">
                                    You must sign for, date and time every package we send to you. If the package looks damaged in any way you can refuse the delivery or sign for it unexamined. If it has been damaged by the carrier and you have not signed unexamined we cannot be held liable or make a claim with the carrier which may result in a delay in dealing with the matter. You must inform us immediately by e-mail or phone of any damaged goods.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


