
<div class="" ng-controller="TermsController">
    <div class="middle inner">
        <div class="container">
            <div class="login white-bg">
                <h2>Terms and Conditions</h2>
                <div class="login-user">
                    <h3>Introduction</h3>
                    <p>
                        Please read these terms and conditions carefully before using this Website operated by Dave Mushlayah or placing an order through the telephone, Company Number:7149901.
                        By accessing or using our Website, you agree to be legally bound by these terms and conditions as they may be modified and posted on our Website from time to time.

                        If you have any other queries on how to use this site, please phone +44 795 7741 524 (Lines open Monday to Friday from 8:00-18.00).
                        You can also email us with a brief outline of your problem.

                        We are also open on Saturday from 08:00 - 13.00.

                        Details of procedures, products, services, prices, payment and delivery are displayed on our Website. 
                        If you choose to place an order, you will be given clear instructions on how to navigate our simple online order process and you will be required to provide us with your accurate
                        personal details.

                    </p>
                    <label>Please:</label>
                    <ul>
                        <li>Read through these terms and conditions carefully before using this Website.</li>
                        <li>Print a copy for future reference.</li>
                        <li>Read our privacy policy section regarding your personal information.</li>
                    </ul>
                </div>

                <div class="login-user">
                    <h3>General</h3>
                    <p>
                        We reserve the right to change any services, product prices, product specifications and availability at any time. 
                        All prices and descriptions supersede all previous publications. All product descriptions are approximate. 
                        Every effort is made to keep information regarding stock availability on the Website up to date. 
                        However, we do not guarantee that this is the case, or that stock will always be available.

                    </p>
                    <p>If any provision of these terms and conditions is held by any competent authority to be invalid or unenforceable in whole or in part, 
                    the validity of the other provisions of this Agreement and the remainder of the provision in question will not be affected.</p>
                    <p>This Website, any content contained herein and any contract brought into being because of usage of this Website are governed by and construed in accordance
                    with law of the jurisdiction specified in the clause below and the parties to any such contract agree to submit to the exclusive jurisdiction of the courts as specified. 
                    All contracts are concluded in English. These terms and conditions do not affect your statutory rights.</p>

                </div>
                <div class="login-user">
                    <h3>Definitions</h3>
                    <p>
                        'Conditions' means these terms and conditions.

                        'We/us/our' means Dave Muslayah Tools

                        'Website' means the Website located at www.Davemuslayah.com or any subsequent URL which may replace it or sit alongside it.

                        'United Kingdom' means England, Wales, Scotland, Northern Ireland and the Channel Islands.

                        'You/your' means a user of the Website.

                        'Working days' mean Monday to Friday (excluding public holidays in the United Kingdom).
                    </p>
                </div>
                <div class="login-user">
                    <h3>Order Process</h3>
                    <p>
                        Your order will only be accepted if received from within the United Kingdom and from a person over the age of 18.

                        All orders are subject to acceptance and availability. If any goods ordered are not available, you will be notified by email and you 
                        will have the option either to wait until the item is available from stock or to cancel your order.
                        It is your responsibility to provide us with a valid email address so that we can contact you if necessary.
                        Any orders placed by you will be treated as an offer to purchase the goods or services from us and we have the right to reject such offers at any time prior to acceptance.

                        You shall be responsible for ensuring the accuracy of the details provided on the order form and we will not accept an order unless all details 
                        requested on the order form have been entered correctly.

                        You acknowledge that any automated acknowledgement of your order that you may receive from us shall not amount to our acceptance of your offer to purchase goods
                        or services advertised on the Website.

                        The conclusion of a contract between you and us will take place when we accept your order by (i) debiting your credit or debit card, and
                        (ii) despatching goods to you/making goods available for download by you or commencing the services, whichever is the earlier.

                        We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your order and payment secure, 
                        but in the absence of negligence on our part we cannot be held liable for any loss you may suffer if a third party procures unauthorised access to any data you provide 
                        when accessing or ordering from the Website.

                        Each item or service purchased is sold subject to additional specific terms and conditions relating to that item or service including, without limitation,
                        terms and conditions concerning estimated delivery times and any warranties. Please ensure that you read such additional terms.

                        We are entitled to refuse any order placed by you and will not be required to provide an explanation.
                    </p>
                </div>

                <div class="login-user">
                    <h3> Telephone Orders</h3>
                    <p>
                        You may order products with a Customer Service Adviser over the telephone by calling us on +44 795 7741 524. 
                        Lines are open during the hours stated on our site. The Customer Service Adviser will explain the order process to you on the telephone and answer any queries you may have.

                        The placing of an order (including telephone or electronic orders) with Dave Muslayah Tools shall constitute implicit acceptance of these terms and conditions of sale.

                        If you decide you would like to place an order for any products sold on our website with us over the telephone,
                        please have the following information ready as it with help us to process your order:
                        <ul>
                            <li>
                                Your name, contact details and full address including post code
                            </li>
                            <li>
                                Details of the Product or Product range you are interested in, including the colour/voltage if applicable;
                            </li>
                            <li>
                                Confirmation of how you would like to pay for the Products (remember a delivery charge may apply, please see section 6 and Delivery Info page for further details).
                            </li>
                        </ul>
                    </p>

                    <p>
                        When you pay for your order by credit or debit card, we carry out checks or 'authorisations' with the card issuer for security reasons. 
                        Should any problems occur with the authorisation of your card, we will contact you with further details.

                        The conclusion of a contract between you and us will take place when we accept your order by (i) debiting your credit or debit card, and 
                        (ii) despatching goods to you/making goods available for download by you or commencing the services, whichever is the earlier.

                        Dave Muslayah Tools reserve the right to withdraw/cancel your order at any point. Should this occur, you will be notified via telephone or to the e-mail address provided.
                    </p>
                </div>


                <div class="login-user">
                    <h3> Delivery</h3>
                    <p>
                        Goods will be delivered to you, the buyer, at the address provided by you on the order form.

                        We can deliver to an address other than the billing address, but please note that extra documentation may be needed to comply with such orders.

                        You will become the owner of goods you have ordered when they have been paid for and delivered to you.

                        Any dates quoted for delivery of goods are approximate only and we shall not be liable for any delay in delivery of goods however caused.
                        If, however, we are unable to deliver your goods by the date quoted for delivery, you, the buyer, shall be entitled to cancel the order at any time before delivery takes place.
                    </p>
                </div>
                <div class="login-user">
                    <h3> Payment</h3>
                    <p>
                        All prices are inclusive of VAT (where applicable) at the current rates and are correct at the time of entering the information onto the system.
                        Prices quoted are for delivery (in the case of goods) and for performance (in the case of services) in the United Kingdom unless otherwise specified. 
                        Prices are in Pounds Sterling unless otherwise specified.

                        We reserve the right, by giving notice to you, the buyer, at any time before delivery or performance to increase the price of goods or services to reflect any increase 
                        in the cost to us, which is due to any factor beyond our control (such as without limitation, any foreign exchange fluctuation, 
                        significant increase in the costs of labour, materials or other costs of manufacture).

                        In the unlikely event of there being such an increase in the price of goods or services you, the buyer, shall be entitled to cancel the order at any time before delivery or performance.

                        In the unlikely event that the price or description of an item or service has been incorrectly advertised, we will contact you by email, telephone or post to ask whether you wish to proceed with your order with the correct price or description. If you are not happy to proceed, or we are unable to obtain your instructions, we will cancel the order. Unless we have already despatched or commenced performance of your order, we will not be obliged to supply products or provide services at the incorrect price or based on an incorrect description.

                        Payment can be made by any major credit or debit card or through an electronic payment account as explained on the order form.

                        Payment will be debited and cleared from your account before the despatch of your goods or provision of the service to you.

                        By placing an order, you, the buyer, consent to payment being charged to your debit/credit card account or electronic payment account as provided on the order form.

                        Title to the goods will pass to you, the buyer, on delivery of the goods.

                        We will issue you with an electronic receipt to your email address once the goods have been despatched.

                        When you pay for your order by credit or debit card, we carry out checks or 'authorisations' with the card issuer for security reasons.
                        Should any problems occur with the authorisation of your card, we will contact you with further details.
                    </p>
                </div>
                <div class="login-user">
                    <h3> Eligibility</h3>
                    <p>
                        To be eligible to purchase goods or services on this Website and lawfully enter and form contracts on this Website, you must:
                    </p>
                    <ul>
                        <li>if an individual, be 18 years of age or over; and</li>

                        <li>
                            stipulate a delivery or performance address in the United
                            Kingdom (excluding the Channel Islands); and
                        </li>
                        <li>
                            register your real name, address, phone number, email address
                            and any other details requested.
                        </li>
                    </ul>
                    <p>If you are under 18, please ask an adult to contract on your behalf. By offering to purchase goods and services, 
                    you represent to us that you are 18 years of age or over and authorise us to transmit information (included updated information) to obtain information from third parties,
                    including but not limited to, your debit or credit card numbers or credit reports to authenticate your identity, to validate your credit card, to obtain an initial
                    credit card authorisation and to authorise individual purchase transactions.</p>
                </div>
                <div class="login-user">
                    <h3> Returns, Cancellations and Substitutions</h3>
                    <p>
                        If you are not happy with your purchase for any reason, you can return it to us and we will refund you with the amount you paid for that item.

                        All we ask is that you inform us by email or post and return the product within 14 working days from the day after receipt.
                        We will send you a return code and return address. Write the return code on the outside of the packaging, and then return the product to us at your expense in unused condition 
                        and in the original undamaged packaging (or packaging of the same quality) for a full refund less carriage charges. We recommend using an insured delivery service.

                        Returns must be made within 14 working days of delivery.

                        You should allow up to 21 days from receipt by us of your returned goods for your refund to be processed. 
                        We will normally refund you using the same payment method that you used to purchase the goods. Postage and packaging charges will not be refunded. 
                        This does not affect your statutory rights.

                    </p>
                    <p>Please note that you are entitled to cancel any contract completed with us within 7 working days of receipt of the goods or services.</p>  </div>

            </div>

        </div>

    </div>

</div>


