<div class="" ng-controller="ThankyouController">
    <div class="middle inner">
        <div class="container">
            <a href="" id="submit-button" ng-click="printReceiptDataFromModal('PrintMe')" class="checkout1">Print Slip</a>
            <div class="thankyou   white-bg">

                <img class="checkimg" src="../../ItemImage/thankyou.png" />

                <h1>Your Payment was sucessful</h1>
                <div id="PrintMe">
                    <div align="center">
                        <h3>Order Id: 54554787745</h3>
                        <p>We will not break the traffic rules but attempt to deliver your order as soonest possible.</p>
                    </div>
                    <table width="80%" border="1" cellspacing="0" cellpadding="10" align="center" style="border:1px solid #ccc; margin-top:50px;">
                        <tr>
                            <td bgcolor="#CCCCCC"><strong>Product</strong></td>
                            <td bgcolor="#CCCCCC"><strong>Quantity</strong></td>
                            <td bgcolor="#CCCCCC"><strong>Price</strong></td>

                        </tr>
                        <tr>
                            <td>Auto Moter and High Volt 200</td>
                            <td>1</td>
                            <td>$200</td>

                        </tr>
                        <tr>
                            <td colspan="2">Cast Subtotal</td>
                            <td>$200</td>

                        </tr>
                        <tr>
                            <td>Shipping:</td>
                            <td>&nbsp;</td>
                            <td>Estimated 15 days</td>
                        </tr>
                        <tr>
                            <td>Tax:</td>
                            <td>&nbsp;</td>
                            <td>$10</td>
                        </tr>
                        <tr>
                            <td>Payment Method:</td>
                            <td>&nbsp;</td>
                            <td>Credit Card</td>
                        </tr>
                        <tr>
                            <td><strong>Order Total:</strong></td>
                            <td>&nbsp;</td>
                            <td><strong>$210</strong></td>
                        </tr>
                    </table>
                    <br>
                    <table width="80%" border="0" cellspacing="0" cellpadding="10" align="center">
                        <tr>
                            <td>
                                <h2><strong>Customer Details:</strong></h2>
                                <p>Mobile: +919467400157</p>
                                <p>Email: vikaskumar057@gmail.com</p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <h2><strong>Billing Address:</strong></h2>
                                <p>Vikas Kumar</p>
                                <p>#324E, Railway Colony Near Curch </p>
                                <p>Kalka (Haryana) 133302</p>
                            </td>
                            <td>
                                <h2><strong>Shipping  Address:</strong></h2>
                                <p>Vikas Kumar</p>
                                <p>#324E, Railway Colony Near Curch </p>
                                <p>Kalka (Haryana) 133302</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>




    </div>



</div>