<div ng-controller="DefaultController">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <!-- Header Area Start -->
    <!-- Header Area End -->
    <!-- Slider Area Start -->
    <div class="slider-area pb-60">
        <div class="slider-wrapper theme-default  nivo2">
            <!-- Slider Background  Image Start-->
            <div id="slider" class="nivoSlider">
                <a href="" ng-click="CategoryClick()"><img src="img/slider/3.jpg" data-thumb="img/slider/3.jpg" alt="" title="#slider-1-caption1" /></a>
                <a href="" ng-click="CategoryClick()"><img src="img/slider/4.jpg" data-thumb="img/slider/4.jpg" alt="" title="#slider-1-caption2" /></a>
            </div>
            <!-- Slider Background  Image Start-->
            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                <div class="text-content-wrapper">
                    <div class="container">
                        <div class="text-content">
                            <h4 class="title2 wow bounceInLeft mb-16" data-wow-duration="2s" data-wow-delay="0s">Big Sale</h4>
                            <h1 class="title1 wow bounceInRight mb-16" data-wow-duration="2s" data-wow-delay="1s">Hand Tools <br>Circular Saw & Power Saw</h1>
                            <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                <a class="button slider-btn" href=""  ng-click="CategoryFirstClick()">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                <div class="text-content-wrapper">
                    <div class="container">
                        <div class="text-content slide-2">
                            <h4 class="title2 wow bounceInLeft mb-16" data-wow-duration="1s" data-wow-delay="1s">Big Sale</h4>
                            <h1 class="title1 wow flipInX  mb-16" data-wow-duration="1s" data-wow-delay="2s">Hand Tools <br>Circular Saw & Power Saw</h1>
                            <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s" data-wow-delay="2s">
                                <a class="button slider-btn" href="" ng-click="CategorysecondClick()">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End -->
    <!-- Banner Start  370 205  DONE -->
    <div class="upper-banner banner pb-60">
        <div class="container">
            <div class="row">
                <!-- Single Banner Start -->
                <div class="col-sm-4" ng-repeat="data11 in topProductshowonfront">
                    <div  class="single-banner zoom">
                        <a href="" ng-click="CategoryClick(data11)"><img src="{{WebsiteDomain}}images/{{data11.CategoryImageName370}}" alt="slider-banner"></a>
                    </div>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <!-- Single Banner End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Banner End -->
    <!-- Best Products Start  DONE-->
    <div class="best-seller-product pb-30">
        <div class="container">
            <div class="group-title">
                <h2>Best Seller Product</h2>
            </div>
            <!-- Best Product Activation Start -->
            <div class="hand-tool-active owl-carousel">
                <!-- Single Product Start -->
                <div class="single-product" ng-repeat="BestSellerProduct in ItemListBestSellerProduct">
                    <!-- Product Image Start -->

                    <div class="pro-img">
                        <a href="" ng-click="ShowItemDetail(BestSellerProduct)">
                            <img class="primary-img" src="{{WebsiteDomain}}images/{{BestSellerProduct.ItemMainImage}}" alt="single-product">
                            <img class="secondary-img" src="{{WebsiteDomain}}images/{{BestSellerProduct.ItemMainImage}}" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <!--<div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>-->
                        <h4><a href="" ng-click="ShowItemDetail(BestSellerProduct)">{{BestSellerProduct.Title}}</a></h4>
                        <p><span class="price">{{BestSellerProduct.Price * currentRate| number:2|currency:"&#163;"}}</span></p>
                        <div class="pro-actions">
                            <div class="actions-secondary">
                                <!--  <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>-->
                                <a class="add-cart" href="" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                <!--<a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
                <!-- Single Product End -->
                <!-- Single Product Start -->
                <!-- Single Product End -->
            </div>
            <!-- Best Product Activation End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Best Product End -->
    <!-- Banner Start 570 255 DPONE -->
    <div class="upper-banner banner pb-60">
        <div class="container">
            <div class="row">
                <!-- Single Banner Start -->


                <div class="col-sm-6" ng-repeat="data111 in topProductshowonfront570">
                    <div ng-click="CategoryClick(data111)" class="single-banner zoom">
                        <a href=""><img src="{{WebsiteDomain}}images/{{data111.CategoryImageName570}}" alt="slider-banner"></a>
                    </div>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <!--<div class="col-sm-6">
                    <div class="single-banner zoom">
                        <a href="#"><img src="img/banner/2.png" alt="slider-banner"></a>
                    </div>
                </div>-->
                <!-- Single Banner End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Banner End -->
    <!-- New Products Start -->
    <div class="new-products pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2">
                    <div class="side-product-list">
                        <div class="group-title">
                            <h2>Top Products</h2>
                        </div>
                        <!-- Deal Pro Activation Start -->
                        <div class="slider-right-content side-product-list-active owl-carousel">
                            <!-- Double Product Start -->
                            <div class="double-pro">
                                <!-- Single Product Start -->
                                <div class="single-product" ng-repeat="TopProductsProduct in ItemListTopProductsProduct">
                                    <div class="pro-img">
                                        <a href=""  ng-click="ShowItemDetail(TopProductsProduct)"><img class="img" src="{{WebsiteDomain}}images/{{TopProductsProduct.ItemMainImage}}" alt="product-image"></a>
                                    </div>
                                    <div class="pro-content">

                                        <h4><a href=""  ng-click="ShowItemDetail(TopProductsProduct)">{{TopProductsProduct.Title}}</a></h4>
                                        <p><span class="price">{{TopProductsProduct.Price * currentRate| number:2|currency:"&#163;"}}</span></p>
                                    </div>
                                </div>
                                <!-- Single Product End -->

                            </div>
                            <!-- Double Product End -->
                            <!-- Double Product Start -->

                        </div>
                        <!-- Deal Pro Activation End -->
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8  order-lg-2">
                    <!-- New Pro Content End -->
                    <div class="new-pro-content">
                        <div class="pro-tab-title border-line">
                            <!-- Featured Product List Item Start -->
                            <ul class=" nav  product-list product-tab-list mb-30">
                                <li ng-click="showTab1()"><a class="active" data-toggle="tab" href="">New Arrivals</a></li>
                                <li ng-click="showTab2()"><a data-toggle="tab" href="">Featured</a></li>
                                <li ng-click="showTab3()"><a data-toggle="tab" href="">Best Seller Product</a></li>
                            </ul>
                            <!-- Featured Product List Item End -->
                        </div>
                        <div class="tab-content product-tab-content jump">
                            <div id="new-arrival" class="tab-pane active" ng-class="{active : activeTab === '1'}">
                                <!-- New Products Activation Start -->
                                <div class="new-pro-active owl-carousel">
                                    <!-- Single Product Start -->
                                    <div class="single-product" ng-repeat="NewArrivalsProduct in ItemListNewArrivalsProduct">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="" ng-click="ShowItemDetail(NewArrivalsProduct)">
                                                <img class="primary-img" src="{{WebsiteDomain}}images/{{NewArrivalsProduct.ItemMainImage}}" alt="single-product">
                                                <img class="secondary-img" src="{{WebsiteDomain}}images/{{NewArrivalsProduct.ItemMainImage}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">

                                            <h4><a href="" ng-click="ShowItemDetail(NewArrivalsProduct)">{{NewArrivalsProduct.Title}}</a></h4>
                                            <p><span class="price">{{NewArrivalsProduct.Price * currentRate| number:2|currency:"&#163;"}}</span></p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <!--<a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>-->
                                                    <a class="add-cart" href="" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                    <!--<a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <!-- Single Product End -->
                                </div>
                                <!-- New Products Activation End -->
                            </div>
                            <!-- New Products End -->
                            <div id="toprated" class="tab-pane" ng-class="{active : activeTab === '2'}">
                                <!-- New Products Activation Start -->
                                <div class="new-pro-active owl-carousel">
                                    <!-- Single Product Start -->
                                    <div class="single-product" ng-repeat="FeaturedProduct in ItemListFeaturedProduct">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="" ng-click="ShowItemDetail(FeaturedProduct)">
                                                <img class="primary-img" src="{{WebsiteDomain}}images/{{FeaturedProduct.ItemMainImage}}" alt="single-product">
                                                <img class="secondary-img" src="{{WebsiteDomain}}images/{{FeaturedProduct.ItemMainImage}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">

                                            <h4><a href="" ng-click="ShowItemDetail(FeaturedProduct)">{{FeaturedProduct.Title}}</a></h4>
                                            <p><span class="price">{{FeaturedProduct.Price * currentRate| number:2|currency:"&#163;"}}</span></p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <!--<a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>-->
                                                    <a class="add-cart" href="" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                    <!--<a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- New Products Activation End -->
                            </div>
                            <div id="TopRated" class="tab-pane" ng-class="{active : activeTab === '3'}">
                                <!-- New Products Activation Start -->
                                <div class="new-pro-active owl-carousel">
                                    <!-- Single Product Start -->
                                    <div class="single-product" ng-repeat="BestSellerProduct in ItemListBestSellerProduct">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="" ng-click="ShowItemDetail(BestSellerProduct)">
                                                <img class="primary-img" src="{{WebsiteDomain}}images/{{BestSellerProduct.ItemMainImage}}" alt="single-product">
                                                <img class="secondary-img" src="{{WebsiteDomain}}images/{{BestSellerProduct.ItemMainImage}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">

                                            <h4><a href="" ng-click="ShowItemDetail(BestSellerProduct)">{{BestSellerProduct.Title}}</a></h4>
                                            <p><span class="price">{{BestSellerProduct.Price * currentRate| number:2|currency:"&#163;"}}</span></p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <!--<a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>-->
                                                    <a class="add-cart" href="" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                    <!-- <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product End -->
                                </div>
                                <!-- New Products Activation End -->
                            </div>
                        </div>
                        <!-- Tab-Content End   870 240 DONE -->

                        <div  class="single-banner zoom mt-30" ng-repeat="data1111 in topProductshowonfront870">
                            <a href="" ng-click="CategoryClick(data1111)"><img src="{{WebsiteDomain}}images/{{data1111.CategoryImageName870}}" alt="slider-banner"></a>
                        </div>
                    </div>
                    <!-- New Pro Content End -->
                </div>
            </div>

        </div>
        <!-- Container End -->
    </div>
    <!-- New Products End -->
    <!-- Company Policy Start -->
    <div class="company-policy pb-60 pb-sm-25">
        <div class="container">
            <div class="row">
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="img/icon/1.png" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Free Delivery</h3>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="img/icon/2.png" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Online Support 24/7</h3>
                            <p>Support online 24 hours</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="img/icon/3.png" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Money Return</h3>
                            <p>Back guarantee under 7 days</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
                <!-- Single Policy Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-policy">
                        <div class="icone-img">
                            <img src="img/icon/4.png" alt="">
                        </div>
                        <div class="policy-desc">
                            <h3>Member Discount</h3>
                            <p>Onevery order over $30.00</p>
                        </div>
                    </div>
                </div>
                <!-- Single Policy End -->
            </div>
        </div>
    </div>
    <!-- Company Policy End -->
    <!-- Best Products Start -->
    <div class="best-seller-product pb-50 pb-sm-40">
        <div class="container">
            <div class="group-title">
                <h2>Hot Sales</h2>
            </div>
            <!-- Best Product Activation Start -->
            <div class="best-seller-pro-active  owl-carousel slider-right-content">
                <!-- Double Product Start -->
                <div class="double-pro" ng-repeat="HotSellerProduct in ItemListHotSalesProduct">
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="pro-img" >
                            <a href="" ng-click="ShowItemDetail(HotSellerProduct)"><img class="img" src="{{WebsiteDomain}}images/{{HotSellerProduct.ItemMainImage}}" alt="product-image"></a>
                        </div>
                        <div class="pro-content">

                            <h4><a href="" ng-click="ShowItemDetail(HotSellerProduct)">{{HotSellerProduct.Title}}</a></h4>
                            <p><span class="price">{{HotSellerProduct.Price * currentRate| number:2|currency:"&#163;"}}</span></p>
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <!-- Single Product End -->
                </div>
                <!-- Double Product End -->
                <!-- Double Product Start -->
                <!-- Double Product End -->
            </div>
            <!-- Best Product Activation End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Best Product End -->
    <!-- Blog Page Start -->
    <!-- Blog Page End -->

    <!-- Brand Logo Start -->
    <div class="brand-area pb-60">
        <div class="container">
            <div class="group-title">
                <h2 style="padding-left:450px!important;">Browse By Brand</h2>
            </div>
            <!-- Brand Banner Start -->
            <div class="brand-banner owl-carousel">

                <div class="single-brand" ng-repeat="brand in BrandList">
                    <a href="" ng-click="BrandClick(brand)"><img class="img" src="{{WebsiteDomain}}images/{{brand.filename}}" alt="brand-image"></a>
                </div>


            </div>
            <!-- Brand Banner End -->
        </div>
    </div>
    <!-- Brand Logo End -->

</div>
<!-- Wrapper End -->
<!-- Brand Logo End -->
<!--<script src="js/main.js"></script>-->